html,
body {
    height: 100vh;
}

#stage {
    background: url(../images/bg.jpg) no-repeat center center;
    filter: blur(4px);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stage-caption {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stage-caption h1 {
    color: rgba(234, 191, 147, 1);
    font-size: 160px;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: 5px 5px black ;
}

#patient {
    text-align: right;
}


#stage-caption p {
    text-align: center;
}

